{% extends "base.html" %}

{% block page_title %}Thanks{% endblock %}
{% block page_subtitle %}Look for an email soon!{% endblock %}

{% block content %}
    <style>
    .row{
        margin: 10px 0;
    }
    </style>
    <div class="row">
        <div class="span10 offset3">
            <img src="http://cdn1.hubspot.com/hub/152363/samosas.jpg" />
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="span10 offset3">
            <img src="http://cdn1.hubspot.com/hub/152363/cooldown.jpg" />
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="span10 offset3">
            <img src="http://cdn1.hubspot.com/hub/152363/ice_cream-01.jpg" />
        </div>
    </div><!-- .row -->
{% endblock %}